<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Import the style file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authentification.css') }}" media="screen" type="text/css" />
</head>
<body>
    <div id="container">
        <form action="{{ url_for('authenticate') }}" method="POST">
            <h1>Connexion</h1>
            <label><b>Nom d'utilisateur</b></label>
            <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>
            <label><b>Mot de passe</b></label>
            <input type="password" placeholder="Entrer le mot de passe" name="password" required>
            <button type="submit" name="action" value="login">LOGIN</button>
        </form>
        <form action="{{ url_for('signUp') }}" method="GET">
            <button type="submit">Créer un nouveau compte</button>
        </form>
        {% if error %}
            <p style='color:red'>{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
