<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home space</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-vLTaPwEWfDvJnIwYDeJk+p8BpW9VCvnmqUD3qurxuSL7JrFdmQvMJkV+Czrn1/JLxW82lTBD0TH0jTUKbFL2Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen" type="text/css" />
    


</head>
<body>
    
<body>
<center>
        <h3 style="color: blue;">Welcome to Your Home Space</h3>
        
        <div class="Button">
            <button><a href="/dashboardIOT">IOT</a></button>
            <button><a href="/dashboardEndDiveces">End Devices</a></button>
            <button><a href="/Ville">Predection de chaque ville</a></button>
            <button><a href="/logout">Logout</a></button>
        <div>
       
      
</center>   

</body>
</body>
</html>